proxmox_username = "root@pam"
proxmox_password = "password"
proxmox_url = "https://10.10.10.10:8006/api2/json"
proxmox_insecure_skip_tls_verify = true
# template_network_bridge = "vmbr5"
# template_ssh_username = "ubuntu"
# template_ssh_password = "ubuntu"
# template_ssh_key_output_folder = "~/.ssh/"
